@model Cash.Web.Models.DisplayResourceViewModel

@{
    ViewBag.Title = "Удаление материала / ресурса";
}

<h2>@ViewBag.Title</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.MeasureUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeasureUnit.Name)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.AdditionalInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalInfo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (Model.CanBeDeleted)
            {
                <input type="submit" value="Удалить" class="btn btn-default"/>
            }
            else
            {
                <span>Удаление невозможно. Ресурс задействован в задачах.</span>
            }
             |
            @Html.ActionLink("Назад к списку материалов / ресурсов", "Index")
        </div>
    }
</div>
