@using MvcBlanket.Helpers
@using SortDirection = MvcBlanket.SortDirection
@model MvcBlanket.ViewModels.PagedViewModel<Cash.Web.Models.DisplayProjectViewModel>

@{
    ViewBag.Title = "Список проектов";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Создать новый проект", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.SortLink(Html.DisplayNameFor(model => model.PagedList.FirstOrDefault().Name).ToString(), "Index", "Name", SortDirection.Ascending)
        </th>
        <th style="text-align: center">
            Задачи проекта
        </th>
        <th style="text-align: center">
            Материалы / ресурсы проекта
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.PagedList) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td style="text-align: center">
            <a href="@Url.Action("Index", "Tasks", new {project = item.Code})" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-folder-open"></span>
            </a>
        </td>
        <td style="text-align: center">
            <a href="@Url.Action("Index", "Resources", new {project = item.Code})" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-folder-open"></span>
            </a>
        </td>
        <td>
            <a href="@Url.Action("Edit", new {id = item.Id})" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>

            <a href="@Url.Action("Details", new {id = item.Id})" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-search"></span>
            </a>

            <a href="@Url.Action("Delete", new {id = item.Id})" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </td>
    </tr>
}
    
</table>
