@model Cash.Web.Models.DisplayTaskViewModel

@{
    ViewBag.Title = $"Удаление задачи #{Model.Id}";
}

<h2>@ViewBag.Title</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Workload)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Workload)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Importance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Importance)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.AdditionalInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalInfo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (Model.ChildrenCount == 0)
            {
                <input type="submit" value="Удалить" class="btn btn-default"/>
            }
            else
            {
                <span>Удаление невозможно. Есть вложенные задачи в количестве @Model.ChildrenCount шт.</span>
            }|
            @Html.ActionLink("Назад к списку задач", "Index", new {id = Model.ParentId})
        </div>
    }
</div>
