@model Cash.Web.Models.DisplayTaskViewModel

@{
    ViewBag.Title = $"Просмотр информации о задаче #{Model.Id}";
}

<h2>@ViewBag.Title</h2>


<div id="buttons" data-bind="foreach:statuses">
    <input type="button" data-bind="value:name, click:function(){$root.selectStatus(id)}" class="btn btn-info"/>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Workload)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Workload)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Importance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Importance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd id="modified_tag">
            @Html.DisplayFor(model => model.Modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd id="modifiedBy_tag">
            @Html.DisplayFor(model => model.ModifiedBy.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkloadAutoCalc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkloadAutoCalc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskStatus)
        </dt>

        <dd id="status_tag">
            @Html.DisplayFor(model => model.TaskStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalInfo)
        </dt>

        <dd>
            @Html.Raw(Model.AdditionalInfo)
        </dd>

    </dl>
</div>

<h3>Материалы / ресурсы для задачи</h3>

@if (Model.Resources?.Any() ?? false)
{
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                @foreach (var e in Model.Resources)
                {
                    <tr>
                        <td>@e.Resource.Name</td>
                        <td>@e.Quantity</td>
                        <td>@e.Resource.MeasureUnit.Name</td>
                        <td>@e.Created.ToString("dd.MM.yyyy HH:mm:ss")</td>
                        <td>@e.CreatedByUser.UserName</td>
                    </tr>
                }
            </table>
        </div>
    </div>
}
else
{
    <p>(нет назначенных материалов / ресурсов)</p>
}

<p>
    @Html.ActionLink("Редактировать задачу", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад к списку задач", "Index", new { id = Model.ParentId })
</p>



@section Scripts {


    <script type="text/javascript">
        var data = [];
        @foreach (var transition in Model.Transitions)
        {
<text>
    data.push({
        name: '@transition.Name',
        id: @transition.TargetStatusId
    }); 
</text>
        }

        var model = new task_statuses_model(@Model.Id, data);
        ko.applyBindings(model);
    </script>

}